<!DOCTYPE HTML>
<html>
	<head>
		<title>Fatemeh Bahoo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/avatar.png" alt="" /></span>
							<h1>Fatemeh Bahoo</h1>
							<p>Web development student</p>
						</header>
						
						<footer>
							<ul class="icons">
								<li><a href="https://github.com/fatemeh-bahoo" class="fa-github">GitHub</a></li>
								<li><a href="https://www.linkedin.com/in/fatemeh-bahoo-3b080326a/" class="fa-linkedin">LinkedIn</a></li>
								<li><a href="mailto:fatemehbahoo93@gmail.com" class="fa-envelope">Email</a></li>
							</ul>
						</footer>
					</section>

					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Fatemeh Bahoo</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>